# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/.gitignore

# Dependencies
**/node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# We use npmrc-replace-env to generate this file from .npmrc.config
.npmrc

# Testing
/apps/cockpit/coverage

# Next.js
.next
/apps/cockpit/out

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Production
/build

# Misc
.DS_Store
*.pem
.fleet
.idea

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
!.env.example

# Vercel
.vercel
.wrangler

# Turborepo
.turbo

# Typescript
*.tsbuildinfo
next-env.d.ts

# Caches
.eslintcache
.prettiercache

# Sentry Config File
.sentryclirc

# Logs
logs
*.log

*storybook.log
storybook-static

# node debugging
*.heapsnapshot

# compiled discovery.html for orchestr devtools
packages/orchestr-devtools/src/runtime/public/discovery

# Automated docs generation ignored for now
packages/canonical-types/docs

# Store compiled ui-tokens in git
!packages/ui-tokens/dist

# Ignore shopify api-keys
.graphqlrc.api-key.txt